/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-grey: #fafafa;
  --color-mint-green: #275049;
  --color-dark-green: #2d5752;
  --color-lime: #e1e57c;
}

/* Default Font Size */
html {
  font-size: 16px;
}

body {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-black);
  background-color: var(--color-light-grey);
}

/* Header Style */
header {
  background-color: var(--color-dark-green);
  border-bottom-left-radius: 1.5rem;
}

.navigation {
  width: auto;
  position: absolute;
  top: 2rem;
  display: flex;
  align-items: center;
  gap: 15rem;
  padding: 0rem 2.5rem;
}

.navigation2 {
  position: fixed;
  background-color: var(--color-dark-green);
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  gap: 15rem;
  z-index: 200;
}

.logo2 {
  padding-left: 2rem;
}

.logo-link2 {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
}

.logo-link2 img {
  width: 1.5rem;
  height: 1.5rem;
}

.navigation2 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigation2 ul li:not(:last-of-type) {
  padding-left: 5.5rem;
}

.navigation2 ul li:last-of-type {
  padding-left: 15rem;
}

.navigation2 ul li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-lime);
}

.navigation2 ul li:not(:last-of-type) a:hover {
  color: var(--color-lime);
}

.btn-link2 {
  border-radius: 2rem;
  padding: 0.5rem 1.2rem;
  background-color: var(--color-mint-green);
  box-shadow: 0rem 0rem 0.5rem 0.1rem var(--color-light-grey);
}

.btn-link2:hover {
  background-color: var(--color-light-grey);
  color: var(--color-mint-green);
  box-shadow: 0rem 0rem 0.5rem 0.1rem var(--color-lime);
}

.hero-container {
  /* height: 100vh; */
  /* position: relative; */
  display: flex;
}
.hero-text {
  align-self: center;
  justify-items: flex-start;
  flex-basis: 50%;
  padding: 0rem 8rem;
}

.hero-text h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-lime);
}

.hero-text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-light-grey);
}

.hero-img-container {
  flex-basis: 50%;
  overflow: hidden;
}

.hero-img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-address {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding-top: 5rem;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location-img {
  background-color: var(--color-mint-green);
  padding: 1rem;
  border-radius: 50%;
  width: 31%;
  height: 51px;
  overflow: hidden;
}

.location-img img {
  max-width: 110%;
  height: auto;
  display: block;
}

.location h4 {
  color: var(--color-white);
  font-size: 1rem;
}

.location p {
  color: var(--color-white);
  font-size: 0.7rem;
  opacity: 50%;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-img {
  background-color: var(--color-mint-green);
  padding: 1rem;
  border-radius: 50%;
  width: 31%;
  height: 51px;
  overflow: hidden;
}

.contact-img img {
  max-width: 110%;
  height: auto;
  display: block;
}

.contact h4 {
  color: var(--color-white);
  font-size: 1rem;
}

.contact p {
  color: var(--color-white);
  font-size: 0.7rem;
  opacity: 50%;
}

/* Main Content Style */
#main-content {
  margin: 0rem 4rem;
  background-color: var(--color-light-grey);
}

.club-attraction-container,
.club-facilities-container,
.club-plans-container,
.club-teams-container {
  padding: 5rem 0rem;
}

/* Club Attractions Style */
.club-attraction-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.club-attraction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attraction-img {
  background-color: var(--color-mint-green);
  border-radius: 50%;
  padding: 1.5rem 1.1rem;
  width: 25%;
  height: 95px;
  overflow: hidden;
}

.attraction-img img {
  justify-self: center;
  max-width: 70%;
  height: auto;
  display: block;
}

.attraction-text {
  justify-items: center;
  padding-top: 2rem;
}

.attraction-text h3 {
  font-size: 1.2rem;
  line-height: 1.6;
}

.attraction-text p {
  font-size: 1rem;
  line-height: 1.6;
  width: 12rem;
  text-align: center;
  opacity: 50%;
}

/* Club facilities Style */

.club-facilities-heading {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.club-facilities-heading span {
  color: var(--color-mint-green);
  border: 1px solid var(--color-mint-green);
  font-weight: 300;
  border-radius: 2rem;
  padding: 0.01rem 0.6rem;
}

.club-facilities-heading h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-mint-green);
}

.club-facilities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.club-facility {
  position: relative;
  width: 25%;
  height: 220px;
  overflow: hidden;
}

.club-facility img {
  max-width: 95%;
  height: inherit;
  display: block;
  border-radius: 1rem;
}

.club-facility div {
  position: absolute;
  top: 50%;
  left: 2%;
  right: 7%;
  background-color: #cdcdcd;
  opacity: 90%;
  border-radius: 0.7rem;
  padding: 0.5rem 0.6rem;
}

.club-facility span {
  display: inline-block;
  margin-bottom: 0.8rem;
  color: var(--color-white);
  border: 1.3px solid var(--color-white);
  font-weight: 200;
  font-size: 0.6rem;
  border-radius: 2rem;
  padding: 0.1rem 0.4rem;
}

.club-facility p {
  font-size: 1.05rem;
  font-weight: 200;
  color: var(--color-white);
}

/* Club Plan Style */

.club-plan-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club-plan-header p {
  font-size: 2.5rem;
  line-height: 1.1;
}

.club-plan-images {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

.club-plan-image {
  width: 50%;
  height: 721px;
  overflow: hidden;
}

.club-plan-image img {
  width: 95%;
  height: auto;
  display: block;
  border-radius: 1.2rem;
  filter: brightness(0.5);
}

.club-plan-image {
  position: relative;
}

.btn-popular {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border-radius: 1rem;
}

.club-plan-text {
  position: absolute;
  top: 12rem;
  left: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.club-plan-text > .plan-expiry {
  color: var(--color-white);
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  border: 1px solid var(--color-light-grey);
  border-radius: 1rem;
}

.club-plan-text > .plan-season {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  color: var(--color-light-grey);
  font-weight: 500;
  line-height: 1.1;
}

.club-plan-text > .plan-package {
  font-size: 2.5rem;
  color: var(--color-light-grey);
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.club-plan-text > .plan-training {
  font-size: 1.2rem;
  color: var(--color-light-grey);
  margin-bottom: 1rem;
}

.club-plan-text > .btn-price {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 2rem;
}

.btn-price span {
  font-size: 0.8rem;
}

/* Club Team Style */
.club-teams-container {
  padding: 5rem 0rem;
}

.club-team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club-team-header h3 {
  font-size: 2.5rem;
  line-height: 1.6;
}

.club-team-header p {
  font-size: 1rem;
  line-height: 1.1;
}

.club-teams-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0rem;
}

.club-team-image {
  position: relative;
  width: 25%;
  height: 200px;
  overflow: hidden;
}

.club-team-image img {
  width: 95%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.club-team-detail {
  position: absolute;
  top: 55%;
  left: 2%;
  right: 7%;
  background-color: #cdcdcd;
  opacity: 90%;
  border-radius: 1.4rem;
  padding: 0.5rem 0.6rem;
}

.club-team-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.club-team-detail > .club-team-name,
.club-team-designation {
  color: var(--color-white);
  line-height: 1.4;
}

.club-team-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.club-team-designation {
  font-size: 0.6rem;
}

.footer {
  width: 100%;
  background-color: var(--color-dark-green);
  color: var(--color-lime);
  padding: 1.2rem 2.5rem;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
}
